*{
	padding:0;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.nav > li {
	padding: 15px 0 15px 30px;
	list-style: none;
}

img{
	margin: 0 auto;
	width: 100px;
	height: auto;
}